@import url('https://fonts.cdnfonts.com/css/vastine-personal-use');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;0,800;1,100;1,200;1,300;1,400&display=swap');


$backgound-color: #1e1e1e;
$cor-primaria: #00fe78;
$font-principal: 'Vastine Personal Use', sans-serif;
$font-secundaria:'Poppins', sans-serif;


*{padding: 0;
margin: 0;
box-sizing: border-box;
}

	body{
		background-color: $backgound-color;
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow-x: hidden;
	}

	header {
		width: 100%;
		height: 100%;
		background-image: url(./Imagens/main-img.webp);
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: relative;
		font-family: $font-principal;
	}	

	.slogan-principal{
		width: 100%;
		height: 100%;
		position: relative;
		font-size: 3.2vw;
		text-align: center;
		color: $cor-primaria;
	}
	.slogan-secundario{
		width: 100%;
		font-size: 2.8vw;
		text-align: center;
		color: $cor-primaria;
		font-family: $font-principal;
		padding: 8%;
	}


	span{
		color: white;
	
	}

	.logo-and-button-container{
		width: 100%;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: end;
		top: 0;
		height: 50px;
		color: white;
		padding: 1%;
		
	}

	.logo-and-button-container .menu-icon{
		cursor: pointer;
	}


	.contact-container{
		justify-content: center;
		align-items: end;
		justify-content: end;
		display: flex;
		position: absolute;
		width: 100%;
		height: auto;
		color: white;
		vertical-align:top;
		padding: 1%;
		top: 85%;
		
	}
	
	.btn {
		position: relative;
		z-index: 10;
		width: 200px;
		height: 60px;
		border: 1px solid rgba(255, 255, 255, 0);
		border-radius: 30px;
		background-color: rgba(255, 255, 255, .1);
		color: #fff;
		font-size: 0.9rem;
		font-family: $font-principal;
		letter-spacing: 1px;
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		display: flex;
		align-items: center;
		justify-content: center;
		outline: none;
		cursor: pointer;
	  }
	  .btn::before {
		position: absolute;
		top: 15px;
		left: 50px;
		z-index: -1;
		width: 100px;
		height: 30px;
		border-radius: 50px;
		background-color: $cor-primaria;
		filter: blur(10px);
		content: "";
		opacity:0; 
		transition: .5s;
	  }
	  .btn:hover::before {
		transform: scale(2);
		opacity: 1;

	  }
	  
	  @media only screen and (max-width: 768px) {
		.btn {
			width: 160px;
			height: 45px;

	  }
	  .btn::before {
		display: none;
		}
	}
	  @media only screen and (max-width: 480px) {
		.btn {
			width: 100px;
			height: 30px;
			font-size: 0.5rem;
	  }

	  .contact-container{
		top	: 92%;
		margin-left: -1.5%;
	  }

	  
	  }
	  a{
		text-decoration: none;
	  }

	  .big-letter{
		display: flex;
		justify-content: center;
		align-items: center;
		left: 42%;
		top: 212VH;
		opacity: 1.5%;
		position: absolute;
		width: 100%;
		font-family: $font-principal;
		color: #fff;
		font-size: 12vw;
		transform: rotate(90deg);
	  }
	  .big-letter2{
		display: flex;
		justify-content: center;
		align-items: center;
		left: -42%;
		top: 75VH;
		opacity: 1.5%;
		position: absolute;
		width: 100%;
		font-family: $font-principal;
		color: #fff;
		font-size: 12vw;
		transform: rotate(-90deg);
	  }

	  @media only screen and (max-width: 1024px) {
		.big-letter{
			top: 140VH;

		}
		.big-letter2{
			top: 50vh;
		}
	  }
	  @media only screen and (max-width: 767px) {
		.big-letter{
			display: none;

		}
		.big-letter2{
			display: none;		
		}
	  }
	  .segunda-parte{
		display: flex;
		position: absolute;
		justify-content: center;
		height: auto;
		width: 100%;
		left: 0;
		top: 100%;
	  }
	  .terceira-parte{
		display: flex;
		position: absolute;
		justify-content: center;
		height: auto;
		width: 100%;
		left: 0;
		align-items: center;
		justify-content: center;
		top: 100%;
		background-color: #fff;
	  }
	  .quarta-parte{
		display: flex;
		position: absolute;
		height: 130%;
		width: 100%;
		left: 0;
		align-items: center;
		justify-content: center;
		top: 100%;
		background-image: url(./Imagens/fundo-galeria.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		
	  }

	  .quinta-parte{
		display: flex;
		position: absolute;
		justify-content: center;
		height: 120%;
		width: 100%;
		left: 0;
		align-items: center;
		justify-content: center;
		top: 100%;
		background-color: #fff;
	  }
	  .sexta-parte{
		display: flex;
		position: absolute;
		height: 90%;
		width: 100%;
		left: 0;
		align-items: center;
		justify-content: center;
		top: 100%;
		background-size: cover;
		background-image: url(./Imagens/why-choose.webp);
	  }
	
	

	  .img-categories{
		width: 32%;
		
	  }

	  .img-galery{
		width: 20%;
		cursor: pointer;
		transition: transform 0.4s ease-in-out;
	}

	.img-galery:hover {
	   transform: scale(1.1);
	   border: 0.2px solid $cor-primaria;	  
   }
	  

	  .container-categories{
		position: relative;
		width: 100%;
		align-items: center;
		justify-content: center;
		display: flex;
		left: 0;
		padding: 5%;
		color: #fff;
	  }

	  .container-musculacao-description{
		width: 40%;
		display: flex;
		position: relative;
		justify-content: center;
		font-size: 4vw;
		flex-direction: column;		
	  }

	  .container-box-description{
		width: 40%;
		display: flex;
		position: relative;
		justify-content: center;
		align-items: end;
		font-size: 4vw;
		flex-direction: column;		
	  }

	  .container-crossfit-description{
	
		width: 40%;
		display: flex;
		position: relative;
		justify-content: center;
		font-size: 4.5vw;
		flex-direction: column;	
		align-items: start;
		justify-content: center;
	  }

	  .description-category{
		font-family: $font-secundaria;
		font-size: 1vw;
		padding: 3%;
		padding-left: 0;
		text-align: start;
		padding-bottom: 5%;
	  }
	  .description-category-kickboxing{
		font-family: $font-secundaria;
		font-size: 1vw;
		padding: 3%;
		padding-left: 0;
		padding-bottom: 5%;
		text-align: end;
	  }

	  .quem-somos{
		
		align-items: center;
		justify-content: space-around;
		display: flex;
		color: $backgound-color;
		font-family: $font-principal;
		width: 90%;
	  }

	  .img-estrutura{
		width: 45%;
		margin: 5%;
	  }

	  .quem-somos-text{
		font-family: $font-secundaria;
		font-size: 1.2vw;
		flex-direction: column;
		align-items: center;
		padding-left: 0;
		padding: 4%;
		height: 50%;
		text-align: justify;
	  }

	  .quem-somos-text h4{
		font-family: $font-principal;
		font-size: 3vw;
		padding-left: 7.5%;
	  }

	  .galeria{
		font-family: $font-principal;
		font-size: 3.8vw;
		width: 68%;
		overflow: hidden;
		align-items: center;
		height: AUTO;
		justify-content: center;
	 }
	  .planos{
		font-family: $font-principal;
		font-size: 3.8vw;
		width: 100%;
		height: auto;
		color: #1e1e1e;
		display: flex;
		margin: 5px;
		margin-top: 5%;
	 }

	 h4{
		padding: 4%;
	 }
	
	 .you-can{
		width: 100%;
		display: flex;
		font-size: 10.8vw;
		align-items: center;
		opacity: 3%;
		top: 5%;
		left: -3%;
		position: absolute;
	 }
	 .plano-title-container{
		display: flex;
		position: absolute;
		align-items: center;
		justify-content: center;
		width: 100%;
		top: 9%;
		font-size: 3.5vw;
	 }

	 .simbolo-ver-mais-galery{
		cursor: pointer;
	 }
	 .ver-mais-container{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		color: #fff;
		font-family: $font-secundaria;
		font-size: 3.5vw;
		font-weight: 500;
		text-transform: uppercase;
		
	 }

	 .title-plano{
		font-size: 2vw;
		background-color: $backgound-color;
		width: 24%;
		height: 100%;
		color: #fff;
		font-family: $font-secundaria;
		padding: 1.6%;
		margin: 5%;
		font-weight: 600;
		transition: transform 0.4s ease-in-out;
	 }

	 .title-plano:hover {
		transform: scale(1.1);
		border: 0.2px solid $cor-primaria;	  
	}

	 .subtitle{
		color: $cor-primaria;
		font-family: $font-secundaria;
		font-size: 1.2vw;
		font-weight: 400;
	 }

	 .vantagens{
		font-size: 1vw;
		text-align: start;
		font-weight: 200;
		padding: 5%;
	 }

	 .button-planos-container{
		padding: 10%;

	 }
	 .button-whychoose-container{
		position: absolute;
		top: 80%;

	 }

	 .button-planos{
		text-decoration: none;
		color: #eee;
		display: inline-block;
		background-color: #25d366;
		padding: 1rem 2rem;
		border-radius: 3px;
		cursor: pointer;
		border: none;
		font-family: $font-principal;
	  }
	 .button-whychoose{
		text-decoration: none;
		color: #eee;
		display: inline-block;
		background-color: #25d366;
		padding: 1rem 2rem;
		border-radius: 3px;
		cursor: pointer;
		border: none;
		font-family: $font-principal;
	  }

	  .why-choose-container{
		color: white;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	  }
	
	  .icon-whychoose{
		padding: 0.5%;
	  }
	  .whychoose-card{
		width: 18%;
		height: 100%;
		background: rgba( 255, 255, 255, 0.15 );
		box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
		backdrop-filter: blur( 0px );
		-webkit-backdrop-filter: blur( 0px );
		border-radius: 10px;
		border: 1px solid rgba( 255, 255, 255, 0.18 );
		font-size: 1.5vw;
		font-family: $font-secundaria;
		padding: 1%;
		margin: 1%;
		cursor: pointer;
		transition: transform 0.4s ease-in-out;
	  }

	  .whychoose-card:hover {
		transform: scale(1.1);
		border: 0.2px solid $cor-primaria;	  
	}
	 
	  .whychoose-card-description{
		font-size: 0.8vw;
		padding: 14%;
	  }
		

	  .title-why-choose-container{
		display: flex;
		color: #fff;
		width: 100%;
		position: absolute;
		justify-content: center;
		align-items: center;
		top: 15%;
	  }


	  footer{
		background-color: $backgound-color;
		width: 100%;
		position: absolute;
		top: 190%;
		left: 0;
		height: auto;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 2%;
		font-family: $font-secundaria;
 	 	color: #fff;
 		font-size: 1.2vw;
	  }

	  ::-webkit-scrollbar {
		width: 13px; 
	  }
	  
	  ::-webkit-scrollbar-track {
		background-color: $backgound-color; 
	  }
	  
	  ::-webkit-scrollbar-thumb {
		background-color: $cor-primaria; 
	  }
	

	  /*  Menu Hamburguer */
	  .menu-container{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		
	  }
	  
	  .toggler{
		position: absolute;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		opacity: 0;
		z-index: 3;
		cursor: pointer;
	  }
	  
	  .hamburguer{
		position: absolute;
		width: 60px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
	  }
	  
	  .hamburguer>div{
		position: absolute;
		width: 38%;
		height: 3px;
		border-radius: 1.5px;
		background-color: #ffffff;
		transition: .4s;
	  }
	  
	  .hamburguer>div:before{
		content: '';
		position: absolute;
		width: 100%;
		height: 3px;
		border-radius: 1.5px;
		background-color: #ffffff;
		top: -10px;
		left: 0;
		transition: .4s;
	  }
	  
	  .hamburguer>div:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 3px;
		border-radius: 1.5px;
		background-color: #ffffff;
		top: 10px;
		left: 0;
		transition: .4s;
	  }
	  
	  .hamburguer>div:before{
		top: -10px;
	  }
	  
	  .hamburguer>div:after{
		top: 10px;
	  } 
	  
	  .toggler:checked + .hamburguer>div{
		transform: rotate(135deg);
	  }
	  
	  .toggler:checked:hover + .hamburguer>div{
		transform: rotate(225deg);
	  }
	  
	  .toggler:checked + .hamburguer>div:before, .toggler:checked + .hamburguer>div:after{
		top: 0;
		transform: rotate(90deg);
	  }
	  
	  
	  .toggler:checked ~ .menu{
		visibility: visible;
	  }
	  
	  .toggler:checked ~ .menu > div{
		transform: translateX(-50%) translateY(-50%);
	  } 
	  
	  .toggler:checked ~ .menu > div > div{
		opacity: 1;
	  } 
	  
	  .menu{
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		transition: .6s;
		visibility: hidden;
	  }
	  
	  .menu > div {
		position: absolute;
		width: 3200px;
		height: 3200px;
		border-radius: 50%;
		top: 50%;
		left: 50%;
		transform: translateX(-150%) translateY(-50%);
		background-color: rgba(0, 0, 0, 0.9);
		transition: .6s;
		display: flex;
		justify-content: center;
		z-index: 999;
		align-items: center;
	  }
	  
	  .menu > div > div{
		max-width: 90vw;
		max-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		opacity: 0;
	  }
	  
	  .menu > div > div > ul > li{
		list-style: none;
	  }
	  
	  .menu > div > div > ul > li > a{
		text-decoration: none;
		margin: .5rem;
		display: inline-block;
		font-size: 1.4rem;
		font-weight: 550;
		text-transform: uppercase;
		color: #7159c1;
		transition: .3s;
	  }
	  
	  .menu > div > div > ul > li > a:hover{
		color: #BC0421;
		transition: .4s;
	  }